body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    margin: auto;
    padding: 5em;

}

div{
    border: dotted lightblue;
    padding: 5em;
}